
.container{
    /*  */
    /*
        flex(i) / inline-flex

    */
    display: flex;

    /*
        row(i) / column / row-reverse / column-reverse
    */
    flex-direction: row;

    /*
        nowrap(i) / wrap / wrap-reverse
        是否根据容器换行
    */
    flex-wrap: wrap;

    /*flex-flow: flex-direction flex-wrap*/
    flex-flow: row nowrap;

    /*
        flex-start(i) / center / flex-end / space-around / space-between
    */
    justify-content: flex-start ;

    /**/


}

.content{
    background: #0edaff;
    padding: 10px;
}

.item{
    background: #fff;
    box-shadow: 0 1px 1px rgba(240, 79, 26, 0.36);
    color: #ccc;
    text-align: center;
    padding: 30px;
    display: block;
}

.item span{
    font-size: 50px;
}
